################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
/DualBrowser
/.version
/CommonError2023-01-30.log
